<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> Jon snow.....lord commander of the night's watch</h1>

        <h1>below show's about the jon snows relatives</h1>

        <a href="{% url 'robb' %}">Robb stark</a>
        <a href="{% url 'nothing:sansa' %}">Sansa stark</a>
        <a href="{% url 'nothing:arya' %}">Arya stark</a>
    </center>
</body>
</html>